# python files and dirs
*.pyc
*.pyo
*.egg
*.egg-info
dist
build
eggs
parts

# installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# temp files
*~
*.log
*.kate-swp

# idea / pycharm files
.idea
*.iml

# library files 
*.so
*.dll

# hdf5 test files
*.h5

# kdevelop files
*.kdev4

# test file
nixpy.py

