# python files and dirs
*.pyc
*.pyo
*.egg
*.egg-info
docs/source/*.html
docs/source/*.h5
docs/source/images
docs/source/_*
dist
build
eggs
parts

# installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# temp files
*~
*.log
*.kate-swp

# idea / pycharm files
.idea
*.iml

# library files 
*.so
*.dll

# hdf5 test files
*.h5

# kdevelop files
*kdev*
Makefile

# test file
nixpy.py

