sudo: required
dist: trusty

language: python

env:
  global:
    - NIX_BRANCH=master

matrix:
  include:
    - python: "2.7"
      os: linux
      env: pymajor=2
    - python: "3.6"
      os: linux
      env: pymajor=3 coveralls=1
    - python: "3.7"
      os: linux
      env: pymajor=3 coveralls=1
      dist: xenial
      sudo: true
    - language: generic
      os: osx
      env: pymajor=2
      addons:
        homebrew:
          packages:
            - python2
            - cmake
            - cppunit
            - hdf5
            - numpy
    - language: generic
      os: osx
      env: pymajor=3
      addons:
        homebrew:
          packages:
            - python3
            - cmake
            - cppunit
            - hdf5
            - numpy

addons:
  apt:
    packages:
      - cmake
      - libcppunit-dev
      - libhdf5-serial-dev
      - libboost-all-dev

before_install:
  - nixprefix="/usr/local"
  - export NIX_INCDIR=${nixprefix}/include/nixio-1.0
  - export NIX_LIBDIR=${nixprefix}/lib
  - export PKG_CONFIG_PATH=${PKG_CONFIG_PATH}:${nixprefix}/lib/pkgconfig
  - alias pip2='pip'
  - if [[ "${TRAVIS_OS_NAME}" != "osx" ]]; then pip${pymajor} install --upgrade numpy; fi
  - pip${pymajor} install --upgrade coveralls h5py pytest-xdist;
  - git clone --branch ${NIX_BRANCH} https://github.com/G-Node/nix /tmp/libnix
  - pushd /tmp/libnix
  - mkdir build
  - pushd build
  - cmake -DCMAKE_INSTALL_PREFIX=${nixprefix} ..
  - make
  - sudo make install
  - popd
  - popd
  - which pip${pymajor}
  - which python${pymajor}
  - python${pymajor} --version

install:
  - python${pymajor} setup.py build

script:
  - if [[ "${coveralls}" == 1 ]]; then
      coverage run --source=nixio setup.py test --addopts "--force-compat -s" && coverage report -m;
    else
      python${pymajor} setup.py test --addopts "--force-compat -s -nauto";
    fi

after_success:
  - if [[ "${coveralls}" == 1 ]]; then coveralls; fi
