sudo: required
dist: trusty

language: python

matrix:
    include:
        - python: "2.7_with_system_site_packages"
        - python: "3.4"
        - python: "3.5"
        - python: "3.6"
          env: COVERALLS=1

addons:
  apt:
    packages:
      - libhdf5-serial-dev

install:
  - pip install --upgrade numpy coveralls h5py;

script:
- python setup.py build
- if [ $COVERALLS = 1 ]; then
    coverage run --source=nixio setup.py test && coverage report -m;
  else
    python setup.py test;
  fi;

after_success:
- if [ $COVERALLS = 1 ]; then coveralls; fi;
